.hero-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.home-background {
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}