@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    font-family: 'Press Start 2P', cursive;
    @apply antialiased;
}

@font-face {
    font-family: 'PixelCaps!';
    src: url('./assets/fonts/PixelCaps!.otf') format('opentype');
    font-display: swap;
    descent-override: 0%;
    ascent-override: 100%;
}

.animate-hidden {
    opacity: 0;
    transform: translateX(5%);
    transition: all 1s ease;
}

.animate-show {
    opacity: 1;
    transform: translateX(0%);
}
